:global {
    $themeColor: rgb(72, 226, 110);
    $fontSize: 12px;
    $padding: 6px;

    @keyframes pickerShow {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .date-picker {
        text-align: center;
        width: 270px;
        padding: $padding 0;
        user-select: none;
        background: #fff;
        box-shadow: 0 0 10px #666;
        border-radius: 5px;
        :local {
            animation: pickerShow 0.3s both;
        }
        transform-origin: top;

        .date-ym-jump {
            display: flex;
            border-bottom: 1px solid #eee;
            align-items: center;
            padding: 5px;

            .date-btn {
                border: none;
                color: #aaa;
            }
        }
        .date-btn-container {
            margin-top: $padding * 0.5;
            display: flex;
            justify-content: space-around;
        }
        .date-btn {
            border: 1px solid #eee;
            padding: 5px 0.5em;
            font-size: $fontSize;
            cursor: pointer;
        }
        .date-year-month {
            flex: 1;
            font-size: 14px;
        }
        .date-items-week,
        .date-items-day {
            display: flex;
            flex-wrap: wrap;
        }
        .date-items {
            padding: 10px;
            font-size: 14px;
        }
        .date-item {
            cursor: not-allowed;
            pointer-events: none;
            line-height: 30px;
            font-size: $fontSize;
            width: 100% * calc(1 / 7);
        }
        .date-item-enable {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
            outline: none;
        }
        .date-item-current,
        .date-item-enable:hover {
            background: #f2f8fe !important;
            color: #1989fa;
        }
        .date-item-prev,
        .date-item-next {
            opacity: 0.5;
        }
        .date-item-now {
            background: #f2f8fe;
        }

        .today {
            border-top: 1px solid #f2f8fe;
            line-height: 2.4;
            cursor: pointer;
        }

        .date-hms {
            margin: 10px 0;
            display: flex;
        }
        .date-hms-items {
            flex: 1;
            max-height: 200px;
            box-sizing: border-box;
            overflow-y: scroll;
            padding-bottom: calc(200px - 2em);
            .date-hms-item {
                line-height: 2;
                cursor: pointer;
                &:hover {
                    background: rgba(72, 226, 110, 0.3);
                }
                &.current {
                    background: #f2f8fe;
                }
            }
        }
        .date-hms-items + .date-hms-items {
            border-left: 1px solid #eee;
        }
    }
}

.datepicker {
    position: relative;
    .datepkReal {
        position: absolute;
        top: calc(100% + 10px);
        z-index: 100;
        &.center {
            left: 50%;
            transform: translate(-50%, 0);
        }
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
    }
}
