$theme-color: #5a9cf8;

$successColor: rgb(10, 100, 100);

$errorColor: rgb(247, 77, 128);

$tagColor: #ab90dc;

$warnColor: rgb(208, 108, 147);

$white: #fff;

$bodyBgd: #f8f8f8;

$lazyLoadColor: #e9e4f0;

$opacityColor: rgba(0, 0, 0, 0);

$borderColor: rgba(222, 222, 222, 0.3);
