@font-face {
    font-family: snake-iconfont;
    src: url('./iconfont.ttf') format('truetype');
}

@mixin iconfont($name, $code) {
    .snake-icon-#{$name} {
        font: normal normal normal 14px/1 snake-iconfont;
        -webkit-font-smoothing: antialiased; // -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: auto;
        font-size: inherit;
        &::before {
            content: $code;
            display: inline-block;
            vertical-align: middle;
            min-height: 1em;
            min-width: 1em;
        }
    }
}

$fonts: (delete, '\e616') (edit, '\e669') (comment, '\e63d') (home, '\e611') (article, '\e610') (my, '\e60f')
    (find, '\e60e') (photo, '\e82d') (arrow-left, '\e617') (arrow-right, '\e618') (arrow-top, '\e67c')
    (arrow-down, '\e600') (close, '\e613') (movie, '\e608') (collect, '\e8bc') (travel, '\e640') (music, '\e74d')
    (star, '\e8bc') (article-stick, '\e62a') (article-unstick, '\e627') (xcx-more, '\e648') (xcx-close, '\e649')
    (tip-success, '\e8c3') // 成功提示
    (tip-fail, '\e8cd') // 失败提示
    (tip-warn, '\e8c8') // 警告提示
;

@each $name, $code in $fonts {
    @include iconfont($name, $code);
}
